scipy==1.2.1
numpy==1.16.0
Flask==1.0.2
Werkzeug==0.14.1
gevent==1.4.0
PyMySQL==0.9.3
pandas==0.24.1
Keras==2.3.1
matplotlib==3.0.2
firebase==3.0.1
jsonpickle==1.4
scikit_learn==0.24.0
tensorflow==2.4.0
